*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

#logo-nav-div {
    width: 100%;
    min-height: 50px;
    margin-bottom: 10px;
}

#logo-div{
    width: 30%;
    min-height: 50px;
    background-color: #ffbc0d;
    padding-left: 2%;
    line-height: 50px;
    float: left;
}

#logo-div img{
    vertical-align: middle;
    width: 50px;
}

#nav-div{
    width: 70%;
    min-height: 50px;
    background-color: #ffbc0d;
    float: right;
    padding-left: 2%;
    padding-right: 5%;
    line-height: 50px;
    text-align: right;
}

#nav-div a{
    margin-left: 20px;
    text-decoration: none;
    color: #0C1D31;
}

#nav-div a:hover {
    color: #818181;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

#main-div{
    width: 100%;
    min-height: 400px;
    margin-bottom: 10px;
}

#sidebar-div{
    width: 20%;
    min-height: 400px;
    background-color: #ffbc0d;
    float: left;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#sidebar-div a {
    text-decoration: none;
    font-size: 20px;
    color: #0C1D31;
    display: block;
    vertical-align: middle;
}
  
#sidebar-div a:hover {
    color: #818181;
}

@media screen and (max-height: 450px) {
    #sidebar-div {padding-top: 15px;}
    #sidebar-div a {font-size: 18px;}
  }

#bodyarea-div{
    width: 78%;
    min-height: 400px;
    background-color: #ffbc0d;
    float: right;
    text-align: left;
}

#bodyarea-div p{
    word-wrap: normal;
    vertical-align: middle;
    padding: 2% 5%;
}

#wrap{
    position: relative;
    left: 25%;
}

img {
    vertical-align: middle;
    max-height: 200px;
    max-width: 500px;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    max-width: 500px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    max-height: 200px;
    max-width: 500px;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 53%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    max-width: 500px;
  }

  .row{
    max-width: 500px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 100px;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

#footer-div{
    width: 100%;
    min-height: 50px;
    background-color: #ffbc0d;
    line-height: 50px;
    text-align: center;
}

#footer-logo-div{
    width: 50%;
    min-height: 50px;
    background-color: #ffbc0d;
    padding-left: 2%;
    line-height: 50px;
    float: left;
}

#footer-logo-div img{
    vertical-align: middle;
    width: 100px;
    align-items: right;
}

#footer-info-div{
    width: 50%;
    min-height: 50px;
    background-color: #ffbc0d;
    float: right;
    padding-left: 2%;
    padding-right: 5%;
    line-height: 50px;
    text-align: left;
}

#wrapper-div{
    width: 80%;
    margin: auto;
}